*{
margin: 0;
padding: 0;
font-family: Montserrat;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f8f8;
    padding: 10px;
  }
  
  .navbar-logo {
    font-weight: bold;
  }
  
  .navbar-toggle {
    display: none;
    cursor: pointer;
  }
  
  .toggle-line {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px 0;
    transition: background-color 0.3s ease-in-out;
  }
  
  .navbar-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .menu-item {
    margin-left: 15px;
  }
  
  a{
    text-decoration: none;
  }
  
  @media (max-width: 768px) {
    .navbar-menu {
      display: none;
      flex-direction: column;
      margin-top: 10px;
    }
  
    .navbar-menu.open {
      display: flex;
    }
  
    .navbar-toggle {
      display: block;
    }
  
    .toggle-line {
      background-color: #333;
      transition: background-color 0.3s ease-in-out;
    }
  }
  